replicas_strategy:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
minReadySeconds: 60
revisionHistoryLimit: 2
image:
  pullPolicy: Always
service:
  type: ClusterIP
  externalPort: 80
  internalPort: 8080
  liveness:
    initialDelaySeconds: 60
  readiness:
    initialDelaySeconds: 20
resources:
  limits:
    cpu: 2
    memory: 2Gi
  requests:
    cpu: 1
    memory: 1Gi
