replicas_strategy:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
minReadySeconds: 60
revisionHistoryLimit: 2
service:
  type: ClusterIP
  externalPort: 80
  internalPort: 8080
  liveness:
    initialDelaySeconds: 60
  readiness:
    initialDelaySeconds: 20
resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 0.3
    memory: 512Mi
## to override ingressClassName uncommented this lines (default value "nginx")
#ingress:
#  ingressClassName: nginx-internal